@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE - DARK MODE */
/* 기본 스타일 */
html {
  @apply bg-white text-black transition-colors duration-300;
}

/* 다크 모드 */
html.dark {
  @apply bg-dark-background text-dark-text;
}

/* 크리스마스 테마 */
html.christmas {
  @apply bg-christmas-red text-christmas-gold;
}

/* 다크 모드 + 크리스마스 테마 */
html.dark.christmas {
  @apply bg-christmas-green text-christmas-white;
}

.encode-sans-400 {
  font-family: 'Encode Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

@layer components {
  .mainGraphic {
    background: conic-gradient(
      from 180deg at 50% 50%,
      #00ffc2 0deg,
      #00f0ff 120.07deg,
      #0077ff 179.52deg,
      #ff0099 241.65deg,
      #0470e5 299.6deg,
      #00ffc2 360deg
    );
    border-radius: 50%;
    font-size: 250px;
    height: 1.5em;
    width: 1.5em;
    filter: blur(80px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NOTE - FONTS */

@font-face {
  font-family: 'Cafe24MeongiB';
  font-weight: 100;
  src: url(../../public/fonts/Cafe24Meongi-B-v1.0.woff2) format(woff2);
}

@font-face {
  font-family: 'Cafe24MeongiW';
  font-weight: 100;
  src: url(../../public/fonts/Cafe24Meongi-W-v1.0.woff2) format(woff2);
}

@font-face {
  font-family: 'BeautiqueDisplayRegular';
  font-weight: 100;
  src: url(../../public/fonts/BeautiqueDisplay-Regular.woff) format(woff);
}

@font-face {
  font-family: 'BeautiqueDisplayCondensed';
  src: url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.eot');
  src:
    url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/5005dc6e6f51d029cdbfd327415ec8fc.svg#Beautique Display Condensed')
      format('svg');
}

@font-face {
  font-family: 'LuloCleanW01One';
  src: url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot');
  src:
    url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#Lulo Clean W01 One')
      format('svg');
}

@font-face {
  font-family: 'LuloCleanOneBold';
  src: url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot');
  src:
    url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.svg#Lulo Clean One Bold')
      format('svg');
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.eot');
  src:
    url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.svg#Helvetica Neue Regular')
      format('svg');
}
